@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.container-fluid {
  background-image: linear-gradient(to right top, #f7f1f8, #eae0ec, #decfe0, #d2bed3, #c6aec7);
}

header img {
  width: 100%;
}

.font {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.bold {
  font-size: 32px;
  font-weight: 800;
  text-decoration: underline;
}

.bolda {
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
  
}
.navbar {
  background-color: #DA223E;
  color: white;
  text-decoration: none;
  text-decoration-color: white;
  text-align: inherit;
  margin: 0px -15px;
}

.style {
  list-style: none;
  color: white;
  text-decoration-line: none;
}

.footer {
  background-color: lightgray;  
  text-align: center;
  font-size: 8pt;
  color: white;
  margin: 0px -15px;
}

#input-field {
  position: relative;
  left: 150px;
}

.white-font {
  color: white;
}


/* 
.app {
  max-width: 60rem;
  width: 100%;
  background: lightgray;
  padding: 1rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  > header,
  > main,
  > footer {
    width: 100%;
    padding: 1rem;
    margin: .5rem 1rem;
    text-align: center;
    transition: 200ms;
    &:hover {
      box-shadow: 0 0 2rem gray;
    }
  } */